<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="文件管理系統DB" 
         connectionString="Data Source=localhost;Initial Catalog=文件管理系統DB;Integrated Security=True;Connect Timeout=30;MultipleActiveResultSets=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="儲存根路徑" value="D:\儲存區" />
    <add key="永久區路徑" value="D:\儲存區\永久區" />
    <add key="時效區路徑" value="D:\儲存區\時效區" />
    <add key="資源回收桶路徑" value="D:\儲存區\資源回收桶" />
    <add key="時效區天數" value="30" />
    <add key="最大上傳MB" value="500" />
    <add key="AD啟用" value="false" />
    <add key="AD網域" value="" />
    <!-- AD管理員群組名稱，符合此群組的帳號將取得管理員角色 -->
    <add key="AD管理員群組" value="文件系統管理員" />
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.8">
      <assemblies>
        <!-- AD 驗證所需組件 (移機後啟用AD時使用) -->
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.8" 
                 maxRequestLength="524288" 
                 executionTimeout="3600" />
    <globalization culture="zh-TW" uiCulture="zh-TW" />
    <authentication mode="Forms">
      <forms name=".文件管理驗證" 
             loginUrl="~/登入.aspx" 
             defaultUrl="~/首頁.aspx"
             timeout="480" 
             slidingExpiration="true" />
    </authentication>
    <!-- 全站允許匿名，由各頁面 Page_Load 自行檢查 Session["已登入"] -->
    <authorization>
      <allow users="*" />
    </authorization>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="536870912" />
      </requestFiltering>
    </security>
    <staticContent>
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>
